<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmks.w2.mapper.W2FieldmapMapper">

    <resultMap type="com.kmks.w2.domain.W2Fieldmap" id="W2FieldmapResult">
        <result property="fieldname" column="fieldname"/>
        <result property="fieldid" column="fieldid"/>
        <result property="fieldtype" column="fieldtype"/>
        <result property="pointcount" column="pointcount"/>
        <result property="state" column="state"/>
        <result property="lineno" column="lineno"/>
        <result property="state2" column="state2"/>
        <result property="scode" column="scode"/>
        <result property="carmodeltype" column="carmodeltype"/>
        <result property="schoolname" column="schoolname"/>
        <result property="projectname" column="projectname"/>
        <result property="temppointdata" column="temppointdata"/>
        <result property="pointdata" column="pointdata"/>
    </resultMap>


</mapper>
